@model IEnumerable<TShopping.ViewModels.HangHoaVM>
@{
    ViewData["Title"] = "Home Page";
    var pagingModel = ViewBag.pagingModel as PagingModel;
}
<!-- Hero Start -->
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">100% Organic Foods</h4>
                <h1 class="mb-5 display-3 text-primary">Organic Veggies & Fruits Foods</h1>
                <div class="position-relative mx-auto">
                    <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="number" placeholder="Search">
                    <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Submit Now</button>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active rounded">
                            <img src="img/hero-img-1.png" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded">Fruites</a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="img/hero-img-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded">Vesitables</a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Bestsaler Product Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 700px;">
            <h1 class="display-4">Sản phẩm bán chạy</h1>
            <p>Đây là những sản phẩm đang bán chạy tại cửa hàng.</p>
        </div>
        <div class="row g-4" id="bestsale">

        </div>
    </div>
</div>
<!-- Bestsaler Product End -->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-4 text-start">
                    <h1>Tất cả các sản phẩm</h1>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                @foreach(var item in Model)
                                {
                                    <div class="col-md-6 col-lg-4 col-xl-3" style="height: 100%">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh">
                                                    <img style="height: 235px; object-fit: contain" src="~/Hinh/HangHoa/@item.Hinh"
                                                         class="img-fluid w-100 rounded-top" alt="@item.Hinh" />
                                                </a>
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.TenLoai</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh">
                                                    <h4 style="height: 30px; overflow: hidden">@item.TenHh</h4>
                                                </a>
                                                <p style="height: 72px; overflow: hidden">@item.MoTaNgan</p>
                                                <div class="">
                                                    <p class="text-dark fs-5 fw-bold mb-0">@string.Format("{0:N0}", item.DonGia)đ</p>
                                                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.MaHh" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                        <i class="fa fa-shopping-bag me-2 text-primary"></i>
                                                        Thêm giỏ hàng
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_PagingClientPartial" model="@pagingModel"></partial>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("BestSale", "Home", new { area = "" })',
                type: "GET",
                catch: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data)
                    var html = ''
                    $(data.result).each(function (index, element) {
                        html += `<div class="col-lg-6 col-xl-4">
                                    <div class="p-4 rounded bg-light">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <a href="${element.detail}">
                                                    <img src="${element.hinh}" class="img-fluid rounded-circle w-100" alt="">
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="${element.detail}" class="h5">${element.tenhh}</a>
                                                <div class="d-flex my-3">
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                </div>
                                                <h4 class="mb-3">${element.dongia}</h4>
                                                <a href="${element.addtocart}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
                    })
                    $('#bestsale').html(html)
                },
                error: function (response) {
                    console.log(response)
                }
            })
        })    
    </script>
}
